body {
    background: #ccc;
    margin: 0px;
    font-family: helvetica;
}

.container {
    margin: 0 auto;
    width: 700px;
    background: #fff url('oniondip.png') no-repeat top center;
    padding-top: 200px;
    border-top: 1px solid #424242;
    box-shadow: 5px 10px 5px #888888;
}

article {
    padding: 20px 40px;
    background: #fff;
}

.recipe {
    box-shadow: 5px 10px 5px #888888;
}

.recipe h1 {
    color: lightsteelblue;
    text-shadow: 0 1px 0 #ccc;
}

.recipe h2 {
    color: lightsteelblue;
    text-shadow: 0 1px 0 #ccc;
}

.recipe a:link {
    text-decoration: none;
    color: lightcoral;
}